# Environment & Secrets
.env
.env.*
!.env.example

# Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Static Files
staticfiles/

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local Database
*.sqlite3
